<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>ScribbleScape is a tiny indie studio making beautiful experimental games. It was awarded UK Games Funding in 2020, was part of Elevate 2020 and then part of the Games London Accelerator in 2021.</p>
      </div>
      <div class="col-lg-4">
        <p> ScribbleScape is run by Caroline, who was awarded a place as an Astra Fellow in 2023. She is currently working on her unannounced Astra project and alongside Queensguard on Shards Between Us.</p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
