<!-- Brands Grid Section -->
<section id="supported-by">
    <div class="container portfolio-flex-grid">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Supported by</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="portfolio-flex-row">
        <div class="portfolio-flex-item portfolio-item">
            <img src="img/brand/ukgf.png" class="img-responsive" alt="UKGF, Round 6">
        </div>
        <div class="portfolio-flex-item portfolio-item">
            <img src="img/brand/elevate2020.png" class="img-responsive" alt="Code Coven Elevate 2020">
        </div>
        <div class="portfolio-flex-item portfolio-item">
            <img src="img/brand/games-london.png" class="img-responsive" alt="Games London Accelerator">
        </div>
        <div class="portfolio-flex-item portfolio-item">
            <img src="img/brand/astra.png" class="img-responsive" alt="Astra Games">
        </div>
        
        <!-- {% for post in site.posts %}
        <div class="portfolio-flex-item portfolio-item">
          <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
          </a>
        </div>
        {% endfor %} -->
      </div>
    </div>
  </section>